astropy==5.1
# certifi @ file:///opt/conda/conda-bld/certifi_1663615672595/work/certifi
cloudpickle==2.2.0
commonmark==0.9.1
ghalton==0.6.2
gym==0.26.1
gym-notices==0.0.8
imageio==2.22.1
importlib-metadata==5.0.0
meshio==5.3.4
numpy==1.23.3
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
psutil==5.9.2
pybullet==3.2.5
pybullet-planning==0.6.0
pyerfa==2.0.0.1
Pygments==2.13.0
pyparsing==3.0.9
pyquaternion==0.9.9
PyYAML==6.0
recordclass==0.17.5
rich==12.6.0
scipy==1.9.1
termcolor==2.0.1
transforms3d==0.4.1
-e git+https://github.com/ChenEating716/pybullet-URDF-models.git@64281636cc8293180280023d2ff8d49daaeac1c6#egg=urdf_models
zipp==3.8.1
