astropy==5.1
certifi @ file:///opt/conda/conda-bld/certifi_1663615672595/work/certifi
cloudpickle==2.2.0
gym==0.26.1
gym-notices==0.0.8
importlib-metadata==5.0.0
numpy==1.23.3
opencv-python==4.6.0.66
packaging==21.3
pybullet==3.2.5
pyerfa==2.0.0.1
pyparsing==3.0.9
pyquaternion==0.9.9
PyYAML==6.0
scipy==1.9.1
transforms3d==0.4.1
zipp==3.8.1
